{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Qabu</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    </head>
    <body>
        <h1>Qabu</h1>
        <p>Heavy work in progress!</p>
        {{ template "list" . }}
    </body>
</html>
{{ end }}

{{ block "list" . }}
<ul>
    {{ range .Test }}
        <li>{{ . }}</li>
    {{ end }}
</ul>
{{ end }}
